{% extends 'index/index.html' %}

{% block title %}
    {{ contact.first_name }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="contact">
            <a href="{% url 'phone_book:phone_list' %}">< Назад</a>
            <h2>Абонент:</h2>
            <table class="tbl-1">
                <tr>
                    <th>Фамилия</th>
                    <th>Имя</th>
                    <th>Отчество</th>
                </tr>
                <tr>
                    <td>{{ contact.first_name }}</td>
                    <td>{{ contact.last_name }}</td>
                    <td>{% if contact.third_name %}{{ contact.third_name }}{% else %}-{% endif %}</td>
                </tr>
            </table>
            <table class="tbl-2">
                <tr>
                    <td>Номер телефона</td>
                    <td>{{ contact.phone_number }}</td>
                </tr>
                <tr>
                    <td>Дата рождения</td>
                    <td>{{ contact.date_of_birth }}</td>
                </tr>
                <tr>
                    <td>Абонент создан</td>
                    <td>{{ contact.created }}</td>
                </tr>
                <tr>
                    <td>Последние изменения</td>
                    <td>{% if contact.updated %}{{ contact.updated }}{% else %}-{% endif %}</td>
                </tr>

            </table>
        </div>
    </div>
{% endblock %}