<div class="pagination">
    <div class="container">
        <span class="step-links">
            {% if page.has_previous %}
                <a href="?page={{page.previous_page_number}}">{{page.previous_page_number}}</a>
            {% endif %}
                <span class="current">
            {{ page.number }}
            </span>
                {% if page.has_next %}
                    <a href="?page={{ page.next_page_number }}">{{ page.next_page_number }}</a>
                {% endif %}
        </span>
    </div>
</div>