{% extends 'index/index.html' %}

{% block title %}
    Список телефонов
{% endblock %}


{% block content %}

    <div class="container">
        <div class="phone-list">
            <h2>Список номеров зарегистрированных на портале:</h2>
            <ol>
                {% for contact in contacts %}
                    <li>
                        <a href="{% url 'phone_book:contact_detail' contact.slug %}">
                            <span>{{ contact.first_name }}</span>
                            <span>{{ contact.last_name}}</span>
                            <span>{% if contact.third_name %}{{ contact.third_name }}{% endif %}</span>
                        </a>
                    </li>
                {% endfor %}
            </ol>
        </div>
    </div>
    {% include "phone_book/pagination.html" with page=contacts %}

{% endblock %}