{% extends 'index/index.html' %}

{% block title %}
    Поиск
{% endblock %}

{% block content %}

    <div class="container">
        <div class="search-block phone-list">
            {% if query %}
                <h3>Поиск по имени "{{ query }}"</h3>
                <p>
                    {% with results.count as total_results %}
                        Найдены {{ total_results }} результаты: {{ total_results|pluralize }}
                    {% endwith %}
                </p>
                <ol>
                {% for contact in result %}
                    <li><a href="{% url 'phone_book:contact_detail' contact.slug %}">{{ contact.first_name }} {{ contact.last_name }} {% if contact.third_name %}{{ contact.third_name }}
                    {% endif %}</a></li>
                {% empty %}
                    </ol>
                    <p>Абонентов не найдено</p>
                {% endfor %}
                <p><a href="{% url 'phone_book:contact_search' %}">Искать заново</a></p>
            {% else %}
                <h3>Поиск контактов</h3>
                <form action="." method="get">
                    {{ form.query }}
                    <input type="submit" value="Поиск">
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}