{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Телефонная книга{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/phone_book.css' %}">
    <link rel="stylesheet" href="{% static 'css/pagination.css' %}">
</head>
<body>
<header class="header">
    <div class="header-top">
        <div class="container">
            <div class="header-top-inner">
                <ul class="language">
                    <li>Кырг</li>
                    <li>Рус</li>
                </ul>
                <ul class="header-top-info">
                    <li><a href="{% url 'phone_book:phone_list' %}">Главная</a></li>
                    <li><a href="#">Офисы и терминалы</a></li>
                    <li><a href="#">Частным лицам</a></li>
                    <li><a href="#">Бизнесу</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container">
            <div class="header-bottom-inner">
                <h1><a href="#" class="logo">Телефонный справочник <a href="#" class="beeline">Beeline</a></a></h1>
                <nav class="main-nav">
                    <ul>
                        <li><a href="{% url 'phone_book:contact_search' %}">Поиск контактов</a></li>
                        <li><a href="{% url 'admin:login' %}" class="login">Войти</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>

{% block content %}

{% endblock %}

<footer class="footer">
    <div class="container">
        <div class="footer-inner">
            <div class="info">
                <p>Телефонная книга Beeline 2021</p>
                <p>Зарегистрировано <span>{{ contact_cp.count }}</span> абонентов</p>
            </div>
            <div class="contacts">
                <p>Связаться с нами: <span>+996 777 777 777</span></p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>