* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    color: black;
    font-family: Arial, "Roboto", "Lucida Grande", Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding:  0 15px;
}

.header {
    margin-bottom: 50px;
}

.header-top {
    background: rgba(0,0,0, 1);
    padding: 8px 0;

}

.header-top-inner {
    display: flex;
    align-items: center;
}

.header-top-inner ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-top-inner .language {
    color: #ccc;
}

.header-top-inner .header-top-info {
    margin: 0 0 0 auto;
}


.header-top li {
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 15px;
    padding: 3px 5px;
}
.header-top li:hover {
    border: 1px solid #fff;
    border-radius: 15px;
}

.header-top-info li {
    margin-left: 20px;
}

.language li {
    margin-right: 20px;
}

.header-top-info a {
    color: #ccc;
    text-transform: capitalize;
    text-decoration: none;
}

.header-bottom {
    background: #ccc;
    padding: 15px 0;
}

.header-bottom-inner {
    display: flex;
    align-items: center;
}

.main-nav {
    flex-grow: 1;
    text-align: right;
}

.main-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-nav li {
    display: inline-block;
    margin-left: 30px;
    border: 1px solid transparent;
    border-radius: 15px;
    padding: 3px 5px;
}

.main-nav li:hover {
    border: 1px solid black;
    background: #ffb424;
}

.header-bottom-inner h1 {
    padding: 0;
    margin: 0;
    font-size: 25px;
    font-weight: 600;
}

.header-bottom-inner a {
    color: black;
    text-decoration: none;
}

.header-bottom-inner .beeline {
    color: #ffb424;
    font-weight: bold;
}

.footer {
    background: black;
    color: #ccc;
    font-size: 13px;
    padding: 8px 0;
    margin: 0;
}

.footer-inner {
    display: flex;
    align-items: center;
}

.footer-inner p {
    padding: 0;
    margin: 0;
}

.footer-inner .info span {
    color: #ffb424;
}

.footer-inner .contacts {
    font-size: 14px;
    margin: 0 0 0 auto;
}

.footer-inner .contacts span:hover {
    color: #fff;
}