.phone-list {
    margin-bottom: 100px;
    min-height: 310px;
}

.phone-list h2 {
    font-weight: 500;
    padding: 0;
    margin: 0 0 30px 0;
}

.phone-list ol {
    padding: 0 0 0 50px;
    margin: 0;
}

.phone-list li {
    padding: 2px 5px;
    border-radius: 5px;
}

.phone-list li:nth-child(odd) {
    background: #cccccc;
}

.phone-list a {
    color: rgba(0,0,0,0.84);
    text-decoration: none;
}

.phone-list a:hover {
    color: black;
}

.contact {
    min-height: 400px;
    margin-bottom: 30px;
}
.contact a {
    color: black;
    text-decoration: none;
    font-weight: 700    ;
}

.tbl-1, .tbl-2 {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-bottom: 50px;
}

.tbl-1 td, th {
    border: 2px solid #ccc;
}

.tbl-1 th {
    padding: 5px 0;
}

.tbl-1 td {
    padding: 3px 5px;
}

.tbl-2 td {
    border: 2px solid #ccc;
    padding: 5px 10px;
}

.search-block {
    margin-bottom: 30px;
    min-height: 400px;
}

.search-block a {
    color: black;
    text-decoration: none;
}